<a href="https://colab.research.google.com/github/ranjiGT/Cloyster/blob/master/Regression_Analysis_Global_Pandemic_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<font color='red'>***Video Link***</font>
https://youtu.be/cy7GI7j4-eQ

In [136]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [ ]:
covid = pd.read_excel('owid-covid-data.xlsx')
covid

In [ ]:
#Looking at the shape
covid.shape

In [ ]:
covid.dtypes

In [ ]:
covid.columns

In [ ]:
#Looking at the different locations
covid["location"].value_counts()

In [ ]:
#Checking if columns have null values
covid.isna().any()

In [ ]:
#Getting the sum of null values across each column
covid.isna().sum()

In [ ]:
covid

In [145]:
#Getting the cases in India
india_case=covid[covid["location"]=="India"]

In [ ]:
india_case.head()

In [ ]:
india_case.tail()

In [148]:
import seaborn as sns
from matplotlib import pyplot as plt

In [ ]:
#Total cases per day
sns.set(rc={'figure.figsize':(15,10)})
sns.lineplot(x="date",y="total_cases",data=india_case)
plt.show()

In [150]:
#Making a dataframe for last 5 days
india_last_5_days=india_case.tail()

In [ ]:
#Total cases in last 5 days
sns.set(rc={'figure.figsize':(15,10)})
sns.lineplot(x="date",y="total_cases",data=india_last_5_days)
plt.show()

In [ ]:
#Total tests per day
sns.set(rc={'figure.figsize':(15,10)})
sns.lineplot(x="date",y="total_tests",data=india_case)
plt.show()

In [ ]:
#Total tests in last 5 days
sns.set(rc={'figure.figsize':(15,10)})
sns.lineplot(x="date",y="total_tests",data=india_last_5_days)
plt.show()

In [ ]:
#Germany Case
germany_case=covid[covid["location"]=="Germany"] 
germany_case.head()

In [ ]:
germany_case.tail()

In [155]:
#Making a dataframe for germany for last 5 days
de_last_5_days=germany_case.tail()

In [ ]:
#Total cases in last 5 days
sns.set(rc={'figure.figsize':(15,10)})
sns.lineplot(x="date",y="total_cases",data=de_last_5_days)
plt.show()

In [157]:
#Understanding cases of India, China and Japan
ijc=covid[(covid["location"] =="India") | (covid["location"] =="China") | (covid["location"]=="Japan")]

In [ ]:
#Plotting growth of cases across China, India and Japan
sns.set(rc={'figure.figsize':(15,10)})
sns.barplot(x="location",y="total_cases",data=ijc,hue="date")
plt.show()

In [159]:
#Understanding cases of Germany and India
inde=cov[(cov["location"] =="India") | (cov["location"] =="Germany")]

In [ ]:
#Plotting growth of cases across Germany and India
sns.set(rc={'figure.figsize':(15,10)})
sns.barplot(x="location",y="total_cases",data=inde,hue="date")
plt.show()

In [ ]:
#Getting latest data
last_day_cases=covid[covid["date"]=="2020-08-24"]
last_day_cases

In [ ]:
#Sorting data w.r.t total_cases
max_cases_country=last_day_cases.sort_values(by="total_cases",ascending=False)
max_cases_country

In [ ]:
#Top 5 countries with maximum cases
max_cases_country[1:6]

In [ ]:
#Making bar-plot for countries with top cases
sns.barplot(x="location",y="total_cases",data=max_cases_country[1:6],hue="location")
plt.show()

In [ ]:
india_case.head()

In [ ]:
#converting string date to date-time
import datetime as dt
india_case['date'] = pd.to_datetime(india_case['date']) 
india_case.head()

In [ ]:
india_case.dtypes

In [ ]:
india_case.head()

In [ ]:
#converting date-time to ordinal
india_case['date']=india_case['date'].map(dt.datetime.toordinal)
india_case.head()

# ***Model building***

In [ ]:
covid.isna().any()

In [179]:
cov = covid.dropna()

In [180]:
cov.isna().any()

iso_code                           False
continent                          False
location                           False
date                               False
total_cases                        False
new_cases                          False
new_cases_smoothed                 False
total_deaths                       False
new_deaths                         False
new_deaths_smoothed                False
total_cases_per_million            False
new_cases_per_million              False
new_cases_smoothed_per_million     False
total_deaths_per_million           False
new_deaths_per_million             False
new_deaths_smoothed_per_million    False
new_tests                          False
total_tests                        False
total_tests_per_thousand           False
new_tests_per_thousand             False
new_tests_smoothed                 False
new_tests_smoothed_per_thousand    False
tests_per_case                     False
positive_rate                      False
tests_units                        False
stringency_index                   False
population                         False
population_density                 False
median_age                         False
aged_65_older                      False
aged_70_older                      False
gdp_per_capita                     False
extreme_poverty                    False
cardiovasc_death_rate              False
diabetes_prevalence                False
female_smokers                     False
male_smokers                       False
handwashing_facilities             False
hospital_beds_per_thousand         False
life_expectancy                    False
human_development_index            False
dtype: bool

In [181]:
india_case.isna().any()

iso_code                           False
continent                          False
location                           False
date                               False
total_cases                         True
new_cases                           True
new_cases_smoothed                  True
total_deaths                        True
new_deaths                          True
new_deaths_smoothed                 True
total_cases_per_million             True
new_cases_per_million               True
new_cases_smoothed_per_million      True
total_deaths_per_million            True
new_deaths_per_million              True
new_deaths_smoothed_per_million     True
new_tests                           True
total_tests                         True
total_tests_per_thousand            True
new_tests_per_thousand              True
new_tests_smoothed                  True
new_tests_smoothed_per_thousand     True
tests_per_case                      True
positive_rate                       True
tests_units                         True
stringency_index                    True
population                         False
population_density                 False
median_age                         False
aged_65_older                      False
aged_70_older                      False
gdp_per_capita                     False
extreme_poverty                    False
cardiovasc_death_rate              False
diabetes_prevalence                False
female_smokers                     False
male_smokers                       False
handwashing_facilities             False
hospital_beds_per_thousand         False
life_expectancy                    False
human_development_index            False
dtype: bool

In [182]:
india_case.describe(include='O')

       iso_code continent location     tests_units
count       292       292      292             217
unique        1         1        1               1
top         IND      Asia    India  samples tested
freq        292       292      292             217

In [183]:
#Drop few cols
india_case.drop(columns=['iso_code','continent','location','tests_units','date'], inplace=True)

In [185]:
india_case.tail()

       total_cases  new_cases  ...  life_expectancy  human_development_index
21503    7175880.0    55342.0  ...            69.66                     0.64
21504    7239389.0    63509.0  ...            69.66                     0.64
21505    7307097.0    67708.0  ...            69.66                     0.64
21506    7370468.0    63371.0  ...            69.66                     0.64
21507    7432680.0    62212.0  ...            69.66                     0.64

[5 rows x 36 columns]

In [186]:
india_case.columns

Index(['total_cases', 'new_cases', 'new_cases_smoothed', 'total_deaths',
       'new_deaths', 'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'new_tests', 'total_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'tests_per_case', 'positive_rate', 'stringency_index', 'population',
       'population_density', 'median_age', 'aged_65_older', 'aged_70_older',
       'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate',
       'diabetes_prevalence', 'female_smokers', 'male_smokers',
       'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index'],
      dtype='object')

In [ ]:
sns.pairplot(cov[1:42], diag_kind='kde')

In [187]:
india_case.isna().sum()

total_cases                        31
new_cases                           1
new_cases_smoothed                  6
total_deaths                       73
new_deaths                          1
new_deaths_smoothed                 6
total_cases_per_million            31
new_cases_per_million               1
new_cases_smoothed_per_million      6
total_deaths_per_million           73
new_deaths_per_million              1
new_deaths_smoothed_per_million     6
new_tests                          93
total_tests                        87
total_tests_per_thousand           87
new_tests_per_thousand             93
new_tests_smoothed                 82
new_tests_smoothed_per_thousand    82
tests_per_case                     82
positive_rate                      82
stringency_index                    5
population                          0
population_density                  0
median_age                          0
aged_65_older                       0
aged_70_older                       0
gdp_per_capita                      0
extreme_poverty                     0
cardiovasc_death_rate               0
diabetes_prevalence                 0
female_smokers                      0
male_smokers                        0
handwashing_facilities              0
hospital_beds_per_thousand          0
life_expectancy                     0
human_development_index             0
dtype: int64

In [188]:
india_case.size

10512

In [189]:
india_case

       total_cases  new_cases  ...  life_expectancy  human_development_index
21216          NaN        0.0  ...            69.66                     0.64
21217          NaN        0.0  ...            69.66                     0.64
21218          NaN        0.0  ...            69.66                     0.64
21219          NaN        0.0  ...            69.66                     0.64
21220          NaN        0.0  ...            69.66                     0.64
...            ...        ...  ...              ...                      ...
21503    7175880.0    55342.0  ...            69.66                     0.64
21504    7239389.0    63509.0  ...            69.66                     0.64
21505    7307097.0    67708.0  ...            69.66                     0.64
21506    7370468.0    63371.0  ...            69.66                     0.64
21507    7432680.0    62212.0  ...            69.66                     0.64

[292 rows x 36 columns]

In [190]:
india_case.isna().any()

total_cases                         True
new_cases                           True
new_cases_smoothed                  True
total_deaths                        True
new_deaths                          True
new_deaths_smoothed                 True
total_cases_per_million             True
new_cases_per_million               True
new_cases_smoothed_per_million      True
total_deaths_per_million            True
new_deaths_per_million              True
new_deaths_smoothed_per_million     True
new_tests                           True
total_tests                         True
total_tests_per_thousand            True
new_tests_per_thousand              True
new_tests_smoothed                  True
new_tests_smoothed_per_thousand     True
tests_per_case                      True
positive_rate                       True
stringency_index                    True
population                         False
population_density                 False
median_age                         False
aged_65_older                      False
aged_70_older                      False
gdp_per_capita                     False
extreme_poverty                    False
cardiovasc_death_rate              False
diabetes_prevalence                False
female_smokers                     False
male_smokers                       False
handwashing_facilities             False
hospital_beds_per_thousand         False
life_expectancy                    False
human_development_index            False
dtype: bool

In [192]:
india_case

       total_cases  new_cases  ...  life_expectancy  human_development_index
21216          NaN        0.0  ...            69.66                     0.64
21217          NaN        0.0  ...            69.66                     0.64
21218          NaN        0.0  ...            69.66                     0.64
21219          NaN        0.0  ...            69.66                     0.64
21220          NaN        0.0  ...            69.66                     0.64
...            ...        ...  ...              ...                      ...
21503    7175880.0    55342.0  ...            69.66                     0.64
21504    7239389.0    63509.0  ...            69.66                     0.64
21505    7307097.0    67708.0  ...            69.66                     0.64
21506    7370468.0    63371.0  ...            69.66                     0.64
21507    7432680.0    62212.0  ...            69.66                     0.64

[292 rows x 36 columns]

In [193]:
#Treating NA values with mean
india_case['total_cases'].fillna(india_case['total_cases'].mean(), inplace=True)
india_case['new_cases'].fillna(india_case['new_cases'].mean(), inplace=True)
india_case['new_cases_smoothed'].fillna(india_case['new_cases_smoothed'].mean(), inplace=True)
india_case['total_deaths'].fillna(india_case['total_deaths'].mean(), inplace=True)
india_case['new_deaths'].fillna(india_case['new_deaths'].mean(), inplace=True)
india_case['new_deaths_smoothed'].fillna(india_case['new_deaths_smoothed'].mean(), inplace=True)
india_case['total_cases_per_million'].fillna(india_case['total_cases_per_million'].mean(), inplace=True)
india_case['new_cases_per_million'].fillna(india_case['new_cases_per_million'].mean(), inplace=True)
india_case['new_cases_smoothed_per_million'].fillna(india_case['new_cases_smoothed_per_million'].mean(), inplace=True)
india_case['total_deaths_per_million'].fillna(india_case['total_deaths_per_million'].mean(), inplace=True)
india_case['new_deaths_per_million'].fillna(india_case['new_deaths_per_million'].mean(), inplace=True)
india_case['new_deaths_smoothed_per_million'].fillna(india_case['new_deaths_smoothed_per_million'].mean(), inplace=True)
india_case['new_tests'].fillna(india_case['new_tests'].mean(), inplace=True)
india_case['total_tests'].fillna(india_case['total_tests'].mean(), inplace=True)
india_case['total_tests_per_thousand'].fillna(india_case['total_tests_per_thousand'].mean(), inplace=True)
india_case['new_tests_per_thousand'].fillna(india_case['new_tests_per_thousand'].mean(), inplace=True)
india_case['new_tests_smoothed'].fillna(india_case['new_tests_smoothed'].mean(), inplace=True)
india_case['new_tests_smoothed_per_thousand'].fillna(india_case['new_tests_smoothed_per_thousand'].mean(), inplace=True)
india_case['tests_per_case'].fillna(india_case['tests_per_case'].mean(), inplace=True)
india_case['positive_rate'].fillna(india_case['positive_rate'].mean(), inplace=True)
india_case['stringency_index'].fillna(india_case['stringency_index'].mean(), inplace=True)

In [194]:
india_case.isna().any()

total_cases                        False
new_cases                          False
new_cases_smoothed                 False
total_deaths                       False
new_deaths                         False
new_deaths_smoothed                False
total_cases_per_million            False
new_cases_per_million              False
new_cases_smoothed_per_million     False
total_deaths_per_million           False
new_deaths_per_million             False
new_deaths_smoothed_per_million    False
new_tests                          False
total_tests                        False
total_tests_per_thousand           False
new_tests_per_thousand             False
new_tests_smoothed                 False
new_tests_smoothed_per_thousand    False
tests_per_case                     False
positive_rate                      False
stringency_index                   False
population                         False
population_density                 False
median_age                         False
aged_65_older                      False
aged_70_older                      False
gdp_per_capita                     False
extreme_poverty                    False
cardiovasc_death_rate              False
diabetes_prevalence                False
female_smokers                     False
male_smokers                       False
handwashing_facilities             False
hospital_beds_per_thousand         False
life_expectancy                    False
human_development_index            False
dtype: bool

In [195]:
import seaborn as sns

***Bivariate Analysis***

In [201]:
india_case['new_cases'].quantile([0.5,0.95,0.99])
in_new_case = india_case.loc[india_case["new_cases"] < india_case["new_cases"].quantile(0.99)]

In [ ]:
sns.regplot(x = "new_cases", y = "total_cases", data=in_new_case, color='orange')

In [203]:
import numpy as np
import statsmodels.api as sm 
import statsmodels.tsa.api as smt 
from  sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [204]:
target_col = 'total_cases'

In [205]:
X = india_case.loc[:, india_case.columns != target_col]
y = india_case.loc[:, target_col]

In [ ]:
y

In [208]:
X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                    test_size = 0.30,
                                                    random_state = 42)

In [209]:
X_with_const = sm.add_constant(X_train)
model = sm.OLS(y_train, X_with_const)

In [210]:
results = model.fit()

In [211]:
results.params

new_cases                         -5.972750e-02
new_cases_smoothed                 1.406515e-01
total_deaths                      -2.961710e-02
new_deaths                        -3.100870e-02
new_deaths_smoothed               -1.377279e-01
total_cases_per_million            1.380004e+03
new_cases_per_million              8.241711e+01
new_cases_smoothed_per_million    -1.941076e+02
total_deaths_per_million           4.087187e+01
new_deaths_per_million             4.282180e+01
new_deaths_smoothed_per_million    1.905848e+02
new_tests                          5.248184e-05
total_tests                        1.342491e-04
total_tests_per_thousand          -1.852727e+02
new_tests_per_thousand            -7.231358e+01
new_tests_smoothed                 1.216024e-04
new_tests_smoothed_per_thousand   -1.663816e+02
tests_per_case                     1.099128e-02
positive_rate                      1.686085e-01
stringency_index                   1.839009e-03
population                        -2.629654e-10
population_density                 2.033193e-08
median_age                        -9.066929e-11
aged_65_older                     -8.315641e-11
aged_70_older                     -9.332347e-11
gdp_per_capita                     3.037232e-07
extreme_poverty                   -4.460360e-10
cardiovasc_death_rate             -1.037877e-08
diabetes_prevalence               -5.390691e-10
female_smokers                    -3.528908e-11
male_smokers                      -5.138960e-10
handwashing_facilities             8.790902e-10
hospital_beds_per_thousand        -1.031375e-12
life_expectancy                    2.670875e-10
human_development_index            2.108743e-11
dtype: float64

In [212]:
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:            total_cases   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                  1.000
Method:                 Least Squares   F-statistic:                 3.363e+14
Date:                Sun, 18 Oct 2020   Prob (F-statistic):               0.00
Time:                        09:46:38   Log-Likelihood:                -66.425
No. Observations:                 204   AIC:                             174.9
Df Residuals:                     183   BIC:                             244.5
Df Model:                          20
Covariance Type:            nonrobust
===================================================================================================
                                      coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------------
new_cases                          -0.0597      0.080     -0.751      0.454      -0.217       0.097
new_cases_smoothed                  0.1407      0.072      1.941      0.054      -0.002       0.284
total_deaths                       -0.0296      0.079     -0.373      0.710      -0.186       0.127
new_deaths                         -0.0310      0.078     -0.396      0.692      -0.185       0.123
new_deaths_smoothed                -0.1377      0.072     -1.901      0.059      -0.281       0.005
total_cases_per_million          1380.0043   9.08e-05   1.52e+07      0.000    1380.004    1380.005
new_cases_per_million              82.4171    109.812      0.751      0.454    -134.244     299.078
new_cases_smoothed_per_million   -194.1076    100.014     -1.941      0.054    -391.437       3.222
total_deaths_per_million           40.8719    109.615      0.373      0.710    -175.400     257.143
new_deaths_per_million             42.8218    108.011      0.396      0.692    -170.286     255.929
new_deaths_smoothed_per_million   190.5848     99.959      1.907      0.058      -6.636     387.805
new_tests                        5.248e-05    7.7e-05      0.682      0.496   -9.94e-05       0.000
total_tests                         0.0001    7.6e-05      1.766      0.079   -1.57e-05       0.000
total_tests_per_thousand         -185.2727    104.878     -1.767      0.079    -392.197      21.652
new_tests_per_thousand            -72.3136    106.231     -0.681      0.497    -281.909     137.282
new_tests_smoothed                  0.0001   7.99e-05      1.521      0.130   -3.61e-05       0.000
new_tests_smoothed_per_thousand  -166.3816    110.258     -1.509      0.133    -383.921      51.158
tests_per_case                      0.0110      0.008      1.295      0.197      -0.006       0.028
positive_rate                       0.1686      3.992      0.042      0.966      -7.707       8.044
stringency_index                    0.0018      0.003      0.664      0.507      -0.004       0.007
population                       -2.63e-10   3.89e-10     -0.676      0.500   -1.03e-09    5.04e-10
population_density               2.033e-08    1.5e-08      1.353      0.178   -9.31e-09       5e-08
median_age                      -9.067e-11   1.01e-09     -0.090      0.929   -2.09e-09    1.91e-09
aged_65_older                   -8.316e-11   2.02e-10     -0.412      0.681   -4.81e-10    3.15e-10
aged_70_older                   -9.332e-11   1.41e-10     -0.662      0.509   -3.72e-10    1.85e-10
gdp_per_capita                   3.037e-07   1.92e-07      1.579      0.116   -7.59e-08    6.83e-07
extreme_poverty                  -4.46e-10   1.04e-09     -0.429      0.668    -2.5e-09    1.61e-09
cardiovasc_death_rate           -1.038e-08   8.23e-09     -1.262      0.209   -2.66e-08    5.85e-09
diabetes_prevalence             -5.391e-10   3.49e-10     -1.543      0.125   -1.23e-09     1.5e-10
female_smokers                  -3.529e-11    5.9e-11     -0.598      0.550   -1.52e-10    8.11e-11
male_smokers                    -5.139e-10   1.15e-09     -0.446      0.656   -2.79e-09    1.76e-09
handwashing_facilities           8.791e-10   2.08e-09      0.423      0.673   -3.22e-09    4.98e-09
hospital_beds_per_thousand      -1.031e-12   1.84e-11     -0.056      0.955   -3.73e-11    3.52e-11
life_expectancy                  2.671e-10   2.46e-09      0.109      0.914   -4.58e-09    5.12e-09
human_development_index          2.109e-11   2.07e-11      1.017      0.311   -1.98e-11     6.2e-11
==============================================================================
Omnibus:                        8.419   Durbin-Watson:                   1.856
Prob(Omnibus):                  0.015   Jarque-Bera (JB):                5.966
Skew:                          -0.291   Prob(JB):                       0.0506
Kurtosis:                       2.397   Cond. No.                     1.30e+16
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.29e-12. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [213]:
#Model rebuilding 
india_case.drop(columns=['positive_rate','median_age','hospital_beds_per_thousand','life_expectancy'], inplace=True)

In [215]:
india_case.columns

Index(['total_cases', 'new_cases', 'new_cases_smoothed', 'total_deaths',
       'new_deaths', 'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'new_tests', 'total_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'tests_per_case', 'stringency_index', 'population',
       'population_density', 'aged_65_older', 'aged_70_older',
       'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate',
       'diabetes_prevalence', 'female_smokers', 'male_smokers',
       'handwashing_facilities', 'human_development_index'],
      dtype='object')

In [ ]:
india_case.columns

In [216]:
A = india_case.loc[:, india_case.columns != target_col]
b = india_case.loc[:, target_col]

In [217]:
A

       new_cases  ...  human_development_index
21216        0.0  ...                     0.64
21217        0.0  ...                     0.64
21218        0.0  ...                     0.64
21219        0.0  ...                     0.64
21220        0.0  ...                     0.64
...          ...  ...                      ...
21503    55342.0  ...                     0.64
21504    63509.0  ...                     0.64
21505    67708.0  ...                     0.64
21506    63371.0  ...                     0.64
21507    62212.0  ...                     0.64

[292 rows x 31 columns]

In [218]:
A_train, A_test, b_train, b_test = train_test_split(A, b,
                                                    test_size = 0.30,
                                                    random_state = 42)

In [219]:
A_with_const = sm.add_constant(A_train)
model = sm.OLS(b_train, A_with_const)

In [220]:
results = model.fit()

In [221]:
results.params

new_cases                         -5.963499e-02
new_cases_smoothed                 1.409174e-01
total_deaths                      -2.931361e-02
new_deaths                        -3.147288e-02
new_deaths_smoothed               -1.372595e-01
total_cases_per_million            1.380004e+03
new_cases_per_million              8.228959e+01
new_cases_smoothed_per_million    -1.944746e+02
total_deaths_per_million           4.045306e+01
new_deaths_per_million             4.346250e+01
new_deaths_smoothed_per_million    1.899457e+02
new_tests                          5.202950e-05
total_tests                        1.347287e-04
total_tests_per_thousand          -1.859346e+02
new_tests_per_thousand            -7.169187e+01
new_tests_smoothed                 1.211989e-04
new_tests_smoothed_per_thousand   -1.658385e+02
tests_per_case                     1.071984e-02
stringency_index                   1.766721e-03
population                         8.507901e-08
population_density                -1.167564e-03
aged_65_older                     -8.265113e-06
aged_70_older                      6.298620e-06
gdp_per_capita                    -1.824754e-02
extreme_poverty                   -2.017508e-05
cardiovasc_death_rate              1.563106e-04
diabetes_prevalence                6.215075e-05
female_smokers                    -1.963542e-06
male_smokers                      -4.159607e-06
handwashing_facilities             5.223817e-05
human_development_index            1.430082e-06
dtype: float64

In [222]:
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:            total_cases   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                  1.000
Method:                 Least Squares   F-statistic:                 3.559e+14
Date:                Sun, 18 Oct 2020   Prob (F-statistic):               0.00
Time:                        09:59:45   Log-Likelihood:                -66.426
No. Observations:                 204   AIC:                             172.9
Df Residuals:                     184   BIC:                             239.2
Df Model:                          19
Covariance Type:            nonrobust
===================================================================================================
                                      coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------------
new_cases                          -0.0596      0.079     -0.752      0.453      -0.216       0.097
new_cases_smoothed                  0.1409      0.072      1.957      0.052      -0.001       0.283
total_deaths                       -0.0293      0.079     -0.372      0.711      -0.185       0.126
new_deaths                         -0.0315      0.077     -0.407      0.684      -0.184       0.121
new_deaths_smoothed                -0.1373      0.071     -1.922      0.056      -0.278       0.004
total_cases_per_million          1380.0043   8.46e-05   1.63e+07      0.000    1380.004    1380.005
new_cases_per_million              82.2896    109.473      0.752      0.453    -133.694     298.273
new_cases_smoothed_per_million   -194.4746     99.366     -1.957      0.052    -390.517       1.568
total_deaths_per_million           40.4531    108.869      0.372      0.711    -174.339     255.245
new_deaths_per_million             43.4625    106.650      0.408      0.684    -166.952     253.877
new_deaths_smoothed_per_million   189.9457     98.539      1.928      0.055      -4.465     384.357
new_tests                        5.203e-05    7.6e-05      0.684      0.495    -9.8e-05       0.000
total_tests                         0.0001   7.49e-05      1.798      0.074   -1.31e-05       0.000
total_tests_per_thousand         -185.9346    103.419     -1.798      0.074    -389.973      18.104
new_tests_per_thousand            -71.6919    104.921     -0.683      0.495    -278.695     135.311
new_tests_smoothed                  0.0001   7.91e-05      1.531      0.127    -3.5e-05       0.000
new_tests_smoothed_per_thousand  -165.8385    109.208     -1.519      0.131    -381.300      49.623
tests_per_case                      0.0107      0.006      1.939      0.054      -0.000       0.022
stringency_index                    0.0018      0.002      0.814      0.417      -0.003       0.006
population                       8.508e-08   7.34e-08      1.160      0.248   -5.97e-08     2.3e-07
population_density                 -0.0012      0.001     -1.163      0.246      -0.003       0.001
aged_65_older                   -8.265e-06   7.11e-06     -1.163      0.246   -2.23e-05    5.76e-06
aged_70_older                    6.299e-06   5.42e-06      1.163      0.246   -4.39e-06     1.7e-05
gdp_per_capita                     -0.0182      0.016     -1.163      0.246      -0.049       0.013
extreme_poverty                 -2.018e-05   1.73e-05     -1.163      0.246   -5.44e-05    1.41e-05
cardiovasc_death_rate               0.0002      0.000      1.163      0.246      -0.000       0.000
diabetes_prevalence              6.215e-05   5.34e-05      1.163      0.246   -4.33e-05       0.000
female_smokers                  -1.964e-06   1.69e-06     -1.163      0.246   -5.29e-06    1.37e-06
male_smokers                     -4.16e-06   3.58e-06     -1.163      0.246   -1.12e-05     2.9e-06
handwashing_facilities           5.224e-05   4.49e-05      1.163      0.246   -3.64e-05       0.000
human_development_index           1.43e-06   1.23e-06      1.163      0.246   -9.96e-07    3.86e-06
==============================================================================
Omnibus:                        8.433   Durbin-Watson:                   1.856
Prob(Omnibus):                  0.015   Jarque-Bera (JB):                5.971
Skew:                          -0.291   Prob(JB):                       0.0505
Kurtosis:                       2.396   Cond. No.                     1.30e+16
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.29e-12. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.